body{
font-family: 'Tangerine', cursive;
}

#product-overview h1{
  background: #ff1b68;
}
/*section {
  background: #ff1b68;
}*/
.section-title{ /* for Class selector*/
  color: #2ddf5c;
  font-family: inherit;
}
/* classes overwrites the h1 tag*/
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif, serif;
  /*font-family: 'Syne Tactile', cursive;*/
}

* {
  font-family: 'Courier New', Courier, monospace;
}

/*h1{
  font-family: sans-serif;
}


/* Cascading means multiple rules apply to the same element.
inheritance means that an element also inherits some styles of the parent element
*/

